.theme1 {
  --font-size: 13px;
  --text-color: rgb(125, 207, 255);
  --background-color: rgb(35, 35, 36);
  --meta-color: rgb(255, 255, 255);
  --meta-bgcolor: rgb(141, 141, 141);
  --window-color: rgb(11, 4, 115);
  --window-color1: rgb(21, 24, 115);
  --window-color2: rgb(98, 95, 182);
  --bid-ask-color: rgb(179, 227, 255);
  --bid-ask-bgcolor: rgb(37, 124, 255);
  --blink-bid-ask-color: rgb(255, 255, 255);
  --blink-bid-bgcolor: rgb(0, 209, 14);
  --blink-ask-bgcolor: rgb(207, 0, 35);
  --depth-bgcolor: rgb(0, 2, 32);
  --depth-bid-bgcolor: rgb(10, 70, 10);
  --depth-bid-color: rgb(50, 255, 50);
  --depth-ask-bgcolor: rgb(70, 10, 10);
  --depth-ask-color: rgb(255, 97, 97);
  --w3d-top-color: rgb(82, 115, 177);
  --w3d-left-color: rgb(82, 104, 177);
  --w3d-right-color: rgb(40, 59, 88);
  --w3d-bottom-color: rgb(40, 59, 88);
  --w3d-shadow: rgb(0, 0, 0);
  --button-color: white;
  --button-bgcolor: rgb(75, 119, 160);
  --button-hover-color: white;
  --button-hover-bgcolor: rgb(20, 50, 110);
  --input-color: white;
  --input-bgcolor: rgb(39, 61, 82);
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--w3d-bottom-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--w3d-top-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--w3d-top-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
  z-index: 0;
  padding: 0;
  margin: 2px;
}

.menu {
  display: flex;
  font-size: 1rem;
  background: var(--window-color);
  background: radial-gradient(
    circle,
    var(--window-color2) 0%,
    var(--window-color1) 91%
  );
  text-shadow: 2px 2px 5px var(--w3d-shadow);
  justify-content: right;
  align-items: center;

  .menu-button {
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    margin: 3px;
  }
}

.window {
  display: block;
  width: 17rem;
  background: var(--window-color);
  background: radial-gradient(
    circle,
    var(--window-color1) 0%,
    var(--window-color2) 91%
  );
}

.window-metadata {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--meta-color);
  background-color: var(--meta-bgcolor);
  outline: 1px solid var(--background-color);
  text-shadow: 2px 2px 5px var(--w3d-shadow);
}

.deal-window-prices {
  position: relative;
  height: 55px;
  display: block;
  font-weight: bolder;
  div {
    position: absolute;
    display: block;
    top: 0px;
    padding: 2px;
    background-color: var(--bid-ask-bgcolor);
    text-shadow: 1px 1px 3px var(--w3d-shadow);
  }
  .bid {
    height: 50px;
    width: 50%;
    left: 0px;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    color: var(--bid-ask-color);
    border: 2px solid;
    border-color: var(--background-color);
    font-size: 1.3em;
  }
  .ask {
    height: 50px;
    width: 50%;
    left: 50%;
    text-align: right;
    padding-top: 5px;
    padding-right: 5px;
    color: var(--bid-ask-color);
    border: 2px solid;
    border-color: var(--background-color);
    font-size: 1.3em;
  }
  .mid {
    width: 100px;
    left: calc(50% - 50px);
    z-index: 2;
    text-align: center;
    background-color: var(--window-color);
    color: var(--bid-ask-color);
    border: 2px solid;
    border-top-style: none;
    border-color: var(--background-color);
  }
  .bid-blink {
    color: var(--blink-bid-ask-color);
    background-color: var(--blink-bid-bgcolor);
  }
  .ask-blink {
    color: var(--blink-bid-ask-color);
    background-color: var(--blink-ask-bgcolor);
  }
}

.deal-window-action {
  display: flex;
  justify-content: space-between;
  div {
    flex-grow: 0;
    width: 3em;
    padding: 2px;
    padding-bottom: 6px;
    text-align: center;
  }
  .bid {
    font-size: 0.9em;
  }
  .ask {
    font-size: 0.9em;
  }
  .size {
    flex-grow: 1;
    text-align: right;
    padding-right: 5px;
  }
  .market {
    flex-grow: 0;
    width: 49%;
    font-size: 1.2em;
  }
}

.depth-window {
  display: flex;
  height: 150px;
  overflow-y: auto;
  background-color: var(--depth-bgcolor);
  opacity: 1;
  transition: height 0.2s ease-in, opacity 0.2s ease-in;
  .depth-window-rows {
    flex: 1;
    flex-grow: 1;
    .title {
      font-weight: bold;
    }
    * {
      margin: 1px;
    }
    .row-bid {
      display: flex;
      color: var(--depth-bid-color);
      background-color: var(--depth-bid-bgcolor);
      div {
        text-align: right;
        padding: 0;
        padding-right: 5px;
        text-shadow: 2px 2px 3px var(--w3d-shadow);
      }
      .price-bid {
        order: 1;
        flex: 1;
        flex-grow: 1;
      }
      .qty-bid {
        order: 0;
        flex: 1;
        flex-grow: 1;
      }
    }
    .row-ask {
      display: flex;
      color: var(--depth-ask-color);
      background-color: var(--depth-ask-bgcolor);
      div {
        text-align: left;
        padding: 0;
        padding-left: 5px;
        text-shadow: 2px 2px 3px var(--w3d-shadow);
      }
      .price-ask {
        order: 0;
        flex: 1;
        flex-grow: 1;
      }
      .qty-ask {
        order: 1;
        flex: 2;
        flex-grow: 1;
      }
    }
  }
}

.invisible {
  opacity: 0;
  height: 0px;
  transition: height 0.2s ease-in, opacity 0.2s ease-in;
}

.w3d {
  border: 2px solid;
  border-top-color: var(--w3d-top-color);
  border-left-color: var(--w3d-left-color);
  border-right-color: var(--w3d-right-color);
  border-bottom-color: var(--w3d-bottom-color);
  border-radius: 2px;
  outline: 1px black solid;
}

.button {
  color: var(--button-color);
  background-color: var(--button-bgcolor);
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 5px;
  text-shadow: 2px 2px 5px var(--w3d-shadow);
}
.button:hover {
  cursor: pointer;
  color: var(--button-hover-color);
  background-color: var(--button-hover-bgcolor);
}

.input {
  color: var(--input-color);
  background-color: var(--input-bgcolor);
}

.hidden {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  font-size: 0.6rem;
  margin-left: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
